mixin cartTable(itemList)
  table.cart-table
    tr 
      th hình ảnh
      th Tên sản phẩm
      th Đơn giá
      th Số lượng
      th.mobile-display-none Thành tiền
      th Xóa
    tbody(id="cart-items")
      
mixin cartItem(item)
  -
    function convertMoney(money) {
        return money.toFixed(0).toString().split(/(?=(?:\d{3})+(?:\.|$))/g).join('.') + ' đ';
    }
  tr 
    td.cart-table__img
      img(src=item.imgSrc)
    td(class="cart-table__title")=item.title
    td=`${convertMoney(item.curPrice)}`
    td
      .cart-table__quantity  
        div
          span=item.amount
    td(class="mobile-display-none")=`${convertMoney(item.curPrice * item.amount)}`
    td 
      button 
        i(class="fa-solid fa-trash-can")

mixin cartPayment(itemList)
  -
    function convertMoney(money) {
        return money.toFixed(0).toString().split(/(?=(?:\d{3})+(?:\.|$))/g).join('.') + ' đ';
    }
  .cart-payment__container 
    table.cart-payment 
