mixin navLink(text)
    li.nav-link
        a=text

mixin navList(navList)
    nav 
        ul 
            each val in navList
                    li.mb-2 
                        a 
                            i(class="fa-solid fa-angle-right")
                            span=val

mixin footerNav(data)
    .footer-nav
        h6(class="mb-3")=data.title
        +navList(data.subTitle)

mixin footerBottomNav(navList)
    nav.footer-bottom__nav 
        each val in navList
            a(href="")=val

mixin colorsList(list)
    nav.row     
        each val in list 
            .col-md-6
                .color__dot
                    div(style=`background-color: ${val}`)
                    span=val

mixin blogTag(tagList)
  .blog-tag.mt-3.mb-3 
    each tag in tagList 
      button(type="button")=tag
