include ./rating
include ./button

mixin productLg(productItem)
    .product-lg.mobile-mb.mb-4
        a 
            img(src=productItem.imgSrc)
        .d-flex.justify-content-center.align-items-center 
            .product__info.d-flex.flex-column 
                p(class="mb-1")=productItem.title
                .d-flex.justify-content-center.mb-1
                    +starsRate(4)
                .d-flex.justify-content-center.align-items-center 
                    span(class="current-price me-1")=productItem.curPrice
                    span(class="prev-price")=productItem.prevPrice

mixin productSm(productItem)
    .d-flex.product-sm 
        .col-md-5.m-2.img__container
            a 
                img(src=productItem.imgSrc)
        .col-md-7.ms-2.d-flex.flex-column.justify-content-center
            p(class="mb-1")=productItem.title
            .d-flex.mb-1
                +starsRate(4)
            span(class="current-price")=productItem.curPrice

mixin productRow(productItem)
    .product-row.d-flex.mb-4.mobile-flex-column
        .col-md-4.col-12 
            a 
                img(src=productItem.imgSrc)
        .col-md-8.col-12
            .product-row__wrapper 
                .product-row__info 
                    p(class="product-row__title")=productItem.title
                    +starsRate(4)
                    p(class="product-row__desc")=productItem.desc
                    span(class="product-row__price")=productItem.curPrice
                    .btn__wrapper
                        +primaryBtn("MUA NGAY")
                        +secondaryBtn("fa-solid fa-magnifying-glass")
                        +secondaryBtn("fa-solid fa-heart")  

mixin bestSellingProducts(productList)
    .d-flex.flex-column.bestproduct__container 
        each val in productList 
            .bestproduct__wrapper
                +productSm(val)

mixin productList(productList)        
    .row.mb-4.mobile-flex-column.mobile-mb-0
        block

mixin productListColumn(productList)
    .row.mb-4 
        block
